APP_NAME=Badiboss Pay
APP_ENV=development
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=120
ALGORITHM=HS256

DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/badiboss_pay
DATABASE_PUBLIC_URL=

ADMIN_EMAIL=admin@badibosspay.com
ADMIN_PASSWORD=admin12345
ADMIN_FULL_NAME=Badiboss Admin

SERDIPAY_API_ID=your_serdipay_api_id
SERDIPAY_API_PASSWORD=your_serdipay_api_password
SERDIPAY_MERCHANT_CODE=your_serdipay_merchant_code
SERDIPAY_PIN=your_serdipay_pin

GEOIP_LOOKUP_ENABLED=true
CLIENT_CALLBACK_TIMEOUT_SECONDS=8
