APP_NAME=Badiboss Pay
APP_ENV=development
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=120
ALGORITHM=HS256

DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/badiboss_pay
DATABASE_PUBLIC_URL=

ADMIN_EMAIL=admin@badibosspay.com
ADMIN_PASSWORD=admin12345
ADMIN_FULL_NAME=Badiboss Admin

SERDIPAY_API_ID=your_serdipay_api_id
SERDIPAY_API_PASSWORD=your_serdipay_api_password
SERDIPAY_API_KEY=your_serdipay_api_key
SERDIPAY_EMAIL=your_serdipay_merchant_email
SERDIPAY_PHONE=your_serdipay_merchant_phone
SERDIPAY_PASSWORD=your_serdipay_merchant_password
SERDIPAY_MAIL_PASSWORD=
SERDIPAY_MERCHANT_CODE=your_serdipay_merchant_code
SERDIPAY_PIN=your_serdipay_pin
SERDIPAY_TOKEN_URL=https://serdipay.com/api/public-api/v1/merchant/get-token
SERDIPAY_C2B_URL=https://serdipay.com/api/public-api/v1/merchant/payment-merchant
SERDIPAY_B2C_URL=

GEOIP_LOOKUP_ENABLED=true
CLIENT_CALLBACK_TIMEOUT_SECONDS=8
